.numBtn{
    background-color: #9e9b99;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border: 1.5px solid black;
    border-radius: 50%;
}

.opBtn {
    background-color: #5c5858;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border: 1.5px solid black;
    border-radius: 50%;  
}

#refresh, #clear{
    background-color: #5c5858;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border: 1.5px solid black;
    border-radius: 50%;  
}

#equals{
    background-color: #d49329;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border: 1.5px solid black;
    border-radius: 50%; 
}

#calculator{
    background-color: #2a2a2a;
    border-radius: 25px;
}

#display{
    background-color: #8bd17e;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 20px solid #2a2a2a;
    border-radius: 25px;
}

